<div class="small__card__container" [routerLink]="['content', id]">
    <div class="small__card__content">
        <div class="small__card__photo">
            <img
                src="{{cardPhoto}}"
                alt="small_card_photo">
        </div>
        <div class="small__card__texts">
            <div class="small__card__author">
                <h4>{{cardAuthor}}</h4>
            </div>
            <div class="small__card__title">
                <h1>{{cardTitle}}</h1>
            </div>
        </div>
    </div>
    <div class="small__card__hr">
        <hr>
    </div>
</div>
