.menu__bar__container > ul {
    display: flex;
    flex-direction: row;
}
.menu__bar__container > ul > li {
    margin: 0 20px 0 0;
    list-style: none;
}
.menu__bar__container > ul > li > a {
    text-decoration: none;
}